/*
  Project Name: Puppy World
  Client: GA Front-End Development Final Project
  Author: Dawn E Robles
  Developer @GA in DTLA
*/

/* Box Model */
*, *:before, *:after {
     -moz-box-sizing: inherit; /* Firexfox */
     -webkit-box-sizing: inherit; /* Safari/Chrome/iOS/Android */
     box-sizing: inherit; /* IE */
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

.main-mid {
  width: 950px;
  height: 500px;
}

body {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 23px;
  line-height: 1.043em;
  color: #fff;
  background-color: #437C5B;
  min-width: 14em;
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.spacer {
  height: 3em;
}
/* ~header layout~ */
header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 16%;
  position: fixed;
  background-color: #185E35;
  box-shadow: 0 0.043em 0.87em #444;
  border-bottom: 0.17em;
  display: block;
}

header nav {
  float: right;
  margin-top: 0.58em;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  /*transition: background-color 0.2s ease-in-out;*/
  display: inline-block;
  margin: 0 0 0 1.54em;
  font-size: 0.92em;
}

header nav ul li:hover {
  background-color: #4FA165;
  text-transform: uppercase;
}

header nav ul li a {
  color: #F2C509;
  padding: 1.09em;
  font-size: 0.91em;
  text-decoration: none;
}

#imgLogo {
  width: auto;
  height: 3.48em;
  float: left;
  padding: 0.68em;
}

header h1 {
  font-family: 'Gochi Hand', cursive;
  font-weight:800;
  font-size: 1.5em;
  line-height: 1.6em;
  margin: 1.14em 0 0 0;
  float: left;
  color: #F2C509;
}

h2 {
  font-family: 'Gochi Hand', cursive;
  font-weight:800;
  font-size: 1.65em;
  margin-top: 0.25em;
  text-shadow: 2px 2px #F2C509;
  color: #437C5B;
  text-align: center;
}

/* ~index/home layout~ this should have changing images */
#index-Page {
  padding-top: 4em;
  width: 100%;
  margin: 1em auto 0;
  height: 550px;
  display: block;
  position: inherit;
}

/*#index-Page img {
  max-width: 900px;
  max-height: 500px;
  margin: 0 auto;
}
*/
.bg-images {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* ~mid other divs layout~ this should be hidden depending on the clicked link */
#videos, #breeds, #contactUs, #aboutUs {
  display: none;
  /*display: block;*/
  background-color: #CBFCE1;
  margin: 1em 1.25em 1.5em;  
  /*height: inherit;*/
  padding: 1em 1em 2em;
  color: black;
  border-radius: 0.75em;
  box-shadow: 0 0.043em 0.87em #444;
}

#breeds img {
  float: right;
  margin: 0.75em;
  max-width: 350px;
}

.vleft {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-left: 1em;
}

.vright {
  width: 60%;
  display: inline-block;
  margin-right: 0.77em;
  margin-left: 1.53em;
  vertical-align: top;
}

.vright iframe {
  border: none;
  overflow: hidden;
}

.imgDisplay {
  display: block;
}

.imgHidden {
  display: none;
}

/*FOR IMAGE SLIDE SHOW*/ 
.css-carousel {
   overflow: hidden;
   margin: 1em auto;
   display: block;
 }
 
.css-carousel .css-img {
   display: block;
   margin: 0 auto;
   border-radius: 15px;
   width: 90%;
   height: 70%;
   position: absolute;
   opacity:0;
   -webkit-animation-name: css-animation-fade;
   -webkit-animation-duration:12s;
   -webkit-animation-iteration-count: infinite;
   -moz-animation-name: css-animation-fade;
   -moz-animation-duration:12s;
   -moz-animation-iteration-count: infinite;
   animation-name: css-animation-fade;
   animation-duration:12s;
   animation-iteration-count: infinite;
   box-shadow: 0 0.043em 0.87em #444;
  }
 
 
 .css-carousel .css-img:nth-child(1) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
  }

  .css-carousel .css-img:nth-child(2) {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s;
  }
 
 .css-carousel .css-img:nth-child(3) {
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    animation-delay: 7s;
  }
  
 .css-carousel .css-img:nth-child(4) {
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    animation-delay: 9s;
  }
  
 .css-carousel .css-img:nth-child(5) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    animation-delay: 12s;
  }
  
 /* Chrome, Safari, Opera */ 
 @-webkit-keyframes css-animation-fade {
   from { opacity: 0; } 
   5% { opacity: 1; } 
   15% { opacity: 1; } 
   20% { opacity: 0; } 
   to { opacity: 0; } 
  }

/* mozilla */ 
 @-moz-keyframes css-animation-fade {
   from { opacity: 0; } 
   5% { opacity: 1; } 
   15% { opacity: 1; } 
   20% { opacity: 0; } 
   to { opacity: 0; } 
  }

/*standard*/
 @keyframes css-animation-fade {
   from { opacity: 0; } 
   5% { opacity: 1; } 
   15% { opacity: 1; } 
   20% { opacity: 0; } 
   to { opacity: 0; } 
  }


/* ~footer layout~ */
footer {
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 8%;
  position: fixed;
  background-color: #185E35;
  box-shadow: 0px 1px 20px #444;
  border-top: 4px solid #EC0786;
  text-align: center;
  font-size: 0.73em;
  padding-bottom: 0.25em;
}





/* ~different screen size~ */

@media screen and (max-width: 816px) {
  header nav ul li a {
  color: #CCBF5B;
  padding: 1.09em;
  display: block;
  font-size: 0.82em;
  text-decoration: none;
}

}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 480px) {
  header {
    height: 20%;
    position: absolute;
    background-color: #185E35;
    box-shadow: 0px 1px 20px #444;
    border-bottom: 4px solid #EC0786;
    width: 100%;
    margin: 0 auto;
  }

  #imgLogo {
    max-width: 3.27em;
    max-height: 4.5em;
    float: left;
    padding: 0.5em;
  }

  #hdrNav a {
    display: block;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0.15em 0.75em;
    margin-top: 0.5em;
  }

  #hdrNav li:not(:first-child) {
    float: none;
    width: 90%; /*stretch the dropdown to make it inline*/
  }

  #hdrNav li:first-child {
    display: block;
    position: absolute;
    top: 0.4em;
    right: 0.25em;
  }

  .line {
    font-size: 1em;
    background-color: #f9e42e;
    border: 1px solid #f9e42e;
    height: 3px;
    width: 3em;
    margin: 0.1em;
  }

  header ul {
    transition: all 1s;
    height: 0em;
  }


  .slide {
    height: 20em;
  }

  header h1 {
    margin: 25px 0 0 0;
    float: left;
    color: yellow;
    font-family: 'Gochi Hand', cursive;
    font-weight:800;
    font-size: 1em;
  }

  footer {
   display: none;
  }

}